@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

.upload__cancel:hover {
    color: $white;
    background-color: $dark-blue;
}

.upload {
    padding: 2.5rem 1.5rem;
    border-top: 0.15rem solid $mercury;

    @include desktop {
        padding: 1rem 6rem 1rem 6rem;
        max-width: 130rem;
        margin: auto;
    }

    &__header {
        padding: 0 0 2rem 0;

        @include tablet {
            border-bottom: 0.1rem solid $mercury;
            margin: 0 0 1rem 0;
        }

        @include desktop {
            margin: 0 0 2rem 0;
        }
    }

    &__sections {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;

        @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 0 1rem 0;
            border-bottom: 0.1rem solid $mercury;
        }
    }

    &__section {
        padding: 0 0 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &--thumbnail {
            @include desktop {
                min-width: 31.85rem;
                width: 70%;
                max-width: 32rem;
                padding: 0 1.5rem 0 0;
            }
        }
    }

    &__thumbnail {
        width: 100%;
        object-fit: contain;
        border-radius: 0.5rem;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        border-radius: 0.5rem;
        border: solid $mercury 0.15rem;
        background-color: $alabaster;
        color: $black;
        padding: 1rem;
        width: 100%;
        font-size: 1.25rem;
    }

    &__description {
        border-radius: 0.5rem;
        border: solid $mercury 0.15rem;
        background-color: $alabaster;
        color: $black;
        padding: 1rem;
        width: 100%;
        resize: none;
        height: 9rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include tablet {
            border-top: 0.1rem solid $mercury;
            padding: 1.5rem 0 0 0;
            flex-direction: row-reverse;
        }

        @include desktop {
            border: none;
        }
    }

    &__submit {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $white;
        width: 100%;
        background-color: $blue;
        background-image: url('../../assets/icons/publish.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        background-size: 2rem;
        padding: 1.25rem;
        border-radius: 0.5rem;
        border: none;

        @include tablet {
            width: 16rem;
        }
    }

    &__cancel {

        text-transform: uppercase;
        font-size: 1.2rem;
        color: $blue;
        background-color: $white;
        padding: 1.25rem;
        border-radius: 0.5rem;
        border: none;
        width: 100%;

        @include tablet {
            width: 16rem;
        }
    }
}