// these are all of the colours we will be using

$main-text-colour: #323232;
$button-colour: #0095ff;
$icon-colour: #AFAFAF;
$secondary-text-colour: #FFFFFF;
$secondary-colour: #000000;
$hover-colour: #0065AD;
$border-colour: #e1e1e1;
$light-background-colour: #fafafa;