@use './breakpoints' as *;
@use './mixins' as *;
@use './colours' as *;

@font-face {
    font-family: 'Avenir';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff2) format('woff2');
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff) format('woff'); /*just in case woff2 isn't compatible*/
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff2) format('woff2');
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff) format('woff'); /*just in case woff2 isn't compatible*/
    font-weight: 700;
}

//video title
h1 {
    font-size: 2.25rem;
    font-weight: 400;

    // @include tablet {
    //     font-size: 5rem;
    //     font-weight: 600;
    //     line-height: 4.35rem;
    // }

    // @include desktop {
    //     font-size: 4.4rem;
    //     font-weight: 600;
    //     line-height: 4.25rem;
    // }
}

// join the conversation & next videos header
h2 {
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 2rem;
    color: $silver;
    text-transform: uppercase;

    // @include tablet {
    //     font-size: 3.25rem;
    //     font-weight: 600;
    // }

    // @include desktop {
    //     font-size: 2.68rem;
    //     font-weight: 600;
    // }
}

// titles in next videos section
h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.72rem;

    // @include tablet {
    //     font-size: 1.83rem;
    //     font-weight: 600;
    //     line-height: 2.85rem;
    // }

    // @include desktop {
    //     font-size: 1.6rem;
    //     font-weight: 600;
    //     line-height: 2.5rem;
    // }
}


p {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.65rem;

    @include tablet {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.375rem;
    }

    @include desktop {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.375rem;
    }
}

/*not used yet - assuming i will need it for
sprint 2 */
button {
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.25rem;

    @include tablet {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.25rem;
    }
//    @include desktop {
  //      font-size: ;
    //    font-weight: ;
      //  line-height: ;
 //   }
}