@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

.forum {
    padding: 1rem 2rem;

    @include tablet {
        padding: 0 2rem 1rem 2rem;
    }

    @include desktop {
        padding: 0;
    }

    &__container {
        border-top: 0.1rem solid $border-colour;
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;

        @include tablet {
            margin: 0 0 0.5rem 0;
            padding: 1.5rem 0 0 0;
        }

        @include desktop {
            padding: 1.5rem 2rem 1.5rem 0;
        }
    }

    &__photo {
        background-color: $border-colour;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;

        @include tablet {
            width: 3.25rem;
            height: 3.25rem;
        }
    }

    &__name-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 1rem 0;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
        color: $icon-colour;
    }

    &__comment {
        line-height: 1.5rem;
    }
}