@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

.forum {
    padding: 1rem 2rem;

    &__container {
        border-top: 0.1rem solid $mercury;
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    &__photo {
        background-color: $mercury;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }

    &__name-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 1rem 0;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
        color: $silver;
    }
}