@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;


.next-videos {
    border-top: 0.1rem solid $mercury;
    margin: 0 2rem 1.5rem 2rem;
    
    
    @include tablet {
        padding: 0 45% 0 0;
    }

    @include desktop {
        padding: 0 10% 0 0;
    }
    &__header {
        padding: 1.5rem 0;
    }

    &__card {
        padding: 0 0 1.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
    
    &__video {
        width: 10rem;
        height: 6rem;
    }

    &__thumbnail {
        object-fit: cover;
        width: 10rem;
        height: 6rem;
        border-radius: 0.5rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 0.25rem 0;
    
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding: 0 0 0.2rem 0;

        @include tablet {
            font-size: 1.1rem;
        }
    }
}