@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;


.next-videos {
    border-top: 0.1rem solid $border-colour;
    margin: 0 1rem 1.5rem 1rem;
    
    @include tablet {
        padding: 0 45% 0 0;
    }

    @include desktop {
        margin: 0 2rem 1.5rem 0;
    }

    @include desktop {
        padding: 0 15% 0 2rem;
        border-top: none;
        border-left: 0.1rem solid $border-colour;
    }

    &__header {
        padding: 1.5rem 0;
    }

    &__card {
        text-decoration: none;
        color: black;
        padding: 0 0 1.5rem 0;
        display: flex;
        flex-direction: row;
        //gap: 1rem;
        width: 100%;
    }
    
    &__video {
        width: 7.5rem;
        height: 4.5rem;

        @include tablet{
        width: 10rem;
        height: 6rem;
        }
    }

    &__thumbnail {
        object-fit: cover;
        width: 7.5rem;
        height: 4.5rem;
        border-radius: 0.5rem;
        background-color: $border-colour;

        @include tablet {
            width: 10rem;
            height: 6rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 0.25rem 1rem;
    
    }
    // these properties ensure that any movie titles that go beyond two lines will be replaced with "..."
    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding: 0 0 0.2rem 10;
        line-height: 1.3rem;

        @include tablet {
            font-size: 1.1rem;
            padding: 0 0 0.2rem 0;
        }
    }

    &__channel {
        padding: 0.25rem 0 0.2rem 0;

        @include tablet {
            padding: 0 0 0.2rem 0;
        }
    }
}