@use '../../styles/partials/_breakpoints';
@use '../../styles/partials/_fonts';
@use '../../styles/partials/_mixins';
@use '../../styles/partials/_colours';

.nav {

/*    @include tablet {
        display: flex;
        flex-direction: row;
    }
*/
    &__logo {
        display: block;
        height: 2rem;
        margin: auto;
    }

    &__options {
        display: flex;
        flex-direction: column;
    }

    &__search {
        width: 80%;
        margin: 1rem 0 1rem 3%;
    }

    &__upload {
        width: 94%;
        margin: 0 0 0 3%;
        text-transform: uppercase;
    }

    &__user-info {
        position: absolute;
        left: 85%;
        top: 2rem;
        height: 21.5rem;
        width: 4.5rem;

    /*    @include tablet {
            padding: 2.25rem 0 0 0;
        }
    } */
    }

    &__user-photo {
        height: 3.25rem;
        width: 3.25rem;
        border-radius: 2rem;
        object-position: left;
        object-fit: cover;

    /*    @include tablet {
            height: 3.5rem;
            width: 3.5rem;
        }*/
    }
}
