@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

input {
    ::placeholder {
        color: $black;
    }
        font-family: 'Avenir';
        width: 80%;
        margin: 1.25rem 0 1rem 3%;
        padding: 1rem 0 1rem 3.25rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        background-color: #FAFAFA;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-size: 1.75rem;
        background-position: 1rem;
        outline: none;
}

.navbar {
    padding: 1rem 0;
   
    @include tablet {
        padding: 1rem 2.5rem 1rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding: 1rem 6rem 1rem 6rem;
        max-width: 130rem;
        margin: auto;
    }

    &__logo {
        display: block;
        height: 2.5rem;
        margin: auto;

        @include tablet {
            height: 1.75rem;
        }
    }

    &__items {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__options {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }

    &__search {
        width: 76%;
        margin: 1.25rem 0 1rem 4%;
        padding: 1.1rem 0 1.1rem 3.25rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        border: solid $mercury 0.15rem;
        background-color: #FAFAFA;

        @include tablet {
            font-size: 1.2rem;
            padding: 1rem 0 1rem 3rem;
            width: 80%;
            margin: 0;
        }
  
    }

    &__upload {
        width: 91%;
        margin: 0 0 0 4%;
        text-transform: uppercase;
        font-size: 1.2rem;
        background-color: $blue;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 1.25rem;
        font-weight: 400;
        background-image: url('../../assets/icons/upload.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        background-size: 2rem;

        @include tablet {
            margin: 0;
            padding: 0 0 0 1rem;
            width: 15rem;
            height: 3.75rem;
        }
    }

    &__user-info {
        position: absolute;
        left: 83%;
        top: 4.85rem;
        width: 5rem;

        @include tablet {
            position: relative;
            padding: 0.25rem 0 0 1rem;
            left: auto;
            top: auto;
            width: auto;
        }
    
    }

    &__user-photo {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 2rem;
        object-position: left;
        object-fit: cover;

        @include tablet {
            height: 3.5rem;
            width: 3.5rem;
        }
    }
}
