@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

input:focus {
    border: 0.15rem solid $button-colour;
}

.navbar {
    padding: 1rem 1rem;
    width: 100%;
   
    @include tablet {
        padding: 1rem 2.5rem 1rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding: 1rem 6rem 1rem 6rem;
        margin: auto;
        max-width: 80rem;
    }

    &__logo {
        display: block;
        height: 2rem;
        margin: auto;

        @include tablet {
            height: 1.75rem;
        }

        @include desktop {
            height: 2.25rem;
        }
    }

    &__items {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__options {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }

    &__search {
        margin: 1rem 0;
        padding: 1rem 0 1rem 3.25rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: solid $border-colour 0.15rem;
        background-color: #FAFAFA;
        font-family: 'Avenir';
        width: 70vw;
        border-radius: 0.5rem;
        background-color: #FAFAFA;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-size: 1.75rem;
        background-position: 1rem;
        outline: none;

        @include tablet {
            font-size: 1rem;
            padding: 1rem 0 1rem 2.5rem;
            height: 3rem;
            width: 30vw;
            margin: 0;
            background-size: 1.25rem;
        }

        @include desktop {
            max-width: 24rem;
        }
  
    }

    &__upload {
        :hover {
            background-color: $hover-colour;
        }

        width: 100%;
        text-transform: uppercase;
        font-size: 1rem;
        background-color: $button-colour;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 1rem;
        font-weight: 400;
        background-image: url('../../assets/icons/upload.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        background-size: 2rem;

        @include tablet {
            margin: 0;
            padding: 0 0 0 1rem;
            width: 12rem;
            height: 3rem;
            font-size: 1rem;
            background-size: 1.5rem;
            background-position: 0.75rem;
        }
    }

    &__user-info {
        position: absolute;
        right: 1.6rem;
        top: 4.1rem;
        width: 3rem;

        @include tablet {
            position: relative;
            padding: 0.25rem 0 0 1rem;
            left: 0;
            top: 0;
            width: auto;
        }
    
    }

    &__user-photo {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        object-position: left;
        object-fit: cover;

        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }
}
