@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

.video {
    // this is styling for the black background around the video
    background-color: $secondary-colour;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    // this is styling for the actual video
    &__selected {
        max-height: 20rem;
        width: 100%;
        object-fit: contain;

        @include tablet {
            min-height: 24.5rem;
            width: auto;
            object-fit: contain;
        }

        @include desktop {
            max-height: 29rem;
            width: auto;
            object-fit: contain;
        }
    }

}