@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

.video {
    background-color: $dark-black;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    &__selected {
        max-height: 27rem;
        width:  100%;
        object-fit: contain;

        @include tablet {
            max-height: 30rem;
        }

        @include desktop {
            max-height: 36.5rem;
        }
    }

}