@use './styles/partials/breakpoints' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/colours' as *;

* {
    font-family: 'Avenir';
    box-sizing: border-box;
    margin: 0;
}
