@use './styles/partials/breakpoints' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/colours' as *;

body {
    font-family: 'Avenir';
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    &__written-content {
        @include desktop {
            display: flex;
            flex-direction: row;
        }
    }

    &__section {
        @include desktop {
            width: 70%;
        }
    }
}