@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

.loading {
    padding: 1rem 2rem;

    &__text {
    color: $hover-colour;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;}
}

.main {
    &__written-content {
        max-width: 80rem;
    }
}