@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colours' as *;

textarea {
    ::placeholder {
        color: $black;
    }
        font-family: 'Avenir';
        width: 80%;
        margin: 0;
        padding: 0.75rem 0 0.75rem 0.75rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        background-color: #FAFAFA;
        outline: none;
    }

textarea:focus {
    border: 0.15rem solid $blue;
}

button:hover {
    background-color: $dark-blue;
}

.forum-form {
    padding: 1rem 2rem;

    @include tablet {
    padding: 1rem 2rem 0 2rem;
    }

    &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;

    @include tablet {
        justify-content: flex-start;
        gap: 0.5rem;
        }
    }
    
    &__container {
        display: flex;
        flex-direction: column;

    @include tablet {
        flex-direction: row;
        }
    }

    &__image {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        object-position: left;
        object-fit: cover;
        margin: 2.2rem 0;

        @include tablet {
            height: 3.5rem;
            width: 3.5rem;
        }
    }

    &__heading {
        padding: 0 0 0.25rem 0;
    }

    &__draft {
        font-family: 'Avenir';
        margin: 0;
        width: 72vw;
        padding: 0.75rem 0 0.75rem 0.75rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        background-color: #FAFAFA;
        border: 0.1rem solid $mercury;
        outline: none;

        @include tablet {
            height: 3.5rem;
            width: 55vw;
        }

        @include desktop {
            width: 25vw;
            max-width: 40rem;
            }
    }

    &__submit {
        width: 72vw;
        margin: 1.5rem 0 0.5rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        background-color: $blue;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 1.25rem;
        font-weight: 400;
        background-image: url('../../assets/icons/add_comment.svg');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: 1rem;
        
        @include tablet {
            width: 30vw;
            margin: 2rem 0 0 0.5rem;
        }

        @include desktop {
            width: 17vw;
            max-width: 22rem;
        }
    }
}